# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
# *

# The Consul clients are owned by Consul
/clients/cloud-consul-service/ @hashicorp/consul-cloud-ui @hashicorp/consul-cloud

# The Vault clients are owned by Vault
/clients/cloud-vault-service/ @hashicorp/vault-cloud-ui @hashicorp/vault-cloud

# The Packer clients are owned by Packer
/clients/cloud-packer-service/ @hashicorp/packer-cloud-ui @hashicorp/cloud-packer

# The Network and Resource Manager clients are owned by Controlplane
/clients/cloud-resource-manager/ @hashicorp/cloud-control-plane
/clients/cloud-network/ @hashicorp/cloud-control-plane

# The Operation clients are owned by Dataplane
/clients/cloud-operation/ @hashicorp/cloud-dataplane
