---
name: publish-shared-sdk

on: workflow_dispatch

jobs:
  publish-shared-sdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout hcp-sdk-go
        uses: actions/checkout@v2
        with:
          ref: main
          path: hcp-sdk-go

      - name: Checkout cloud-api
        uses: actions/checkout@v2
        with:
          repository: hashicorp/cloud-api
          ref: master
          token: ${{ secrets.HCP_SDK_PIPELINE_TOKEN }}
          path: cloud-api

      - name: Install go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.0'

      - name: Install dependencies
        run: |
          version=0.30.2
          goos=$(go env GOOS)
          goarch="$(go env GOARCH)"
          download_url="https://github.com/go-swagger/go-swagger/releases/download/v${version}/swagger_${goos}_${goarch}"
          curl -o /usr/local/bin/swagger -L'#' "$download_url"
          chmod +x /usr/local/bin/swagger
          sudo apt-get update -y
          sudo apt-get install -y rsync

      - name: Copy latest cloud-shared specs
        run: |
          rsync -a $GITHUB_WORKSPACE/cloud-api/specs/cloud-shared $GITHUB_WORKSPACE/hcp-sdk-go/temp
          rsync -a $GITHUB_WORKSPACE/cloud-api/specs/external $GITHUB_WORKSPACE/hcp-sdk-go/temp

      - name: Generate SDK for cloud-shared
        run: |
          cd $GITHUB_WORKSPACE/hcp-sdk-go
          ./scripts/gen-go-shared-sdk.sh
          rm -rf $GITHUB_WORKSPACE/hcp-sdk-go/temp

      - name: Create branch with updated service SDK
        run: |
          cd $GITHUB_WORKSPACE/hcp-sdk-go
          git config user.name "HashiCorp Cloud Services"
          git config user.email "59096967+hashicorp-cloud@users.noreply.github.com"
          service_branch_exists="$(git ls-remote --heads origin auto-update-cloud-shared-sdk)"
          [[ -n $service_branch_exists ]] && git push origin --delete auto-update-cloud-shared-sdk
          git checkout -b auto-update-cloud-shared-sdk
          git add clients/cloud-shared/*
          git commit -m "Update Cloud API SDK"
          git push --set-upstream origin auto-update-cloud-shared-sdk    
          
      - name: Open PR
        run: |
          cd $GITHUB_WORKSPACE/hcp-sdk-go
          gh pr create --title "$PR_TITLE" --body "$PR_BODY" -H "$PR_SOURCE" -B "$PR_TARGET"
        env:
          PR_TITLE: "[auto] Update Shared SDK"
          PR_BODY: "This is an auto-generated PR created as part of the public SDK pipeline to update Cloud API."
          PR_SOURCE: "auto-update-cloud-shared-sdk"
          PR_TARGET: "main"
          GITHUB_TOKEN: ${{ secrets.HCP_SDK_PIPELINE_TOKEN }} 
